body
{
    background-color:rgba(148, 95, 95, 0.774);
}
h1
{
    font-style: oblique;
    font-size: 40px;

}
h3
{
    font-style: inherit;
    color: blanchedalmond;
}
button
{
    background-color: rgb(173, 109, 64);
    size:30px;
    border-style: ridge;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#output{
    background: aliceblue;
    border-radius: 10px;
    border-top: 10px solid #AA4465;
    padding: 10px;
    float:none;
    text-align: left;
    }